@use 'assets/scss/settings/fonts' as fonts;
@use 'assets/scss/utilities/spacing' as spacing;
@use 'assets/scss/settings/variables' as vars;

h1, h2, h3, h4, h5, h6 {
  font-family: fonts.$font-family-headings;
  font-weight: fonts.$font-weight-bold;
  line-height: fonts.$line-height-sm;
  margin-bottom: vars.$spacing-md;
  color: vars.$text-dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}