@use 'assets/scss/settings/variables' as vars;
@use 'assets/scss/tools/mixins' as mixins;

a {
  color: vars.$color-primary;
  text-decoration: none;
  @include mixins.transition(color);

  &:hover,
  &:focus {
    color: darken(vars.$color-primary, 15%);
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
    outline-offset: 2px;
  }
}